<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="footer" class="text-center text-muted">
		<!-- Social  -->
		<div class="social my-3">
			<p>
				<a href="https://www.facebook.com/yensei"><img src="/agile-tasks/img/facebook.png"></a>
				<a href="https://www.instagram.com/mryensei/"><img src="/agile-tasks/img/instagram.png"></a>
				<a href="https://www.youtube.com/user/mryensei"><img src="/agile-tasks/img/youtube.png"></a>
				<a href="https://twitter.com/mryensei"><img src="/agile-tasks/img/twitter.png"></a>
				<a href="https://www.tiktok.com/@yensei?lang=es/"><img src="/agile-tasks/img/tik-tok.png"></a>
			</p>
		</div>
		<!-- Social -->

		<!-- Copyright -->
		<div id="copyright" class="mb-5">
			<p><a id="yensei-link-web" href="#">www.misitio.com.py</a></p>
			<hr class="line-separator-footer">
			<p id="footer-links">
				<a href="#">&copy; Mi Empresa. Unipersonal 2022</a>
				<span> | </span>
				<a href="#">T&eacute;rminos y	Condiciones</a>
				<br><br><span></span>		 
				<a href="#">Pol&iacute;tica de Privacidad</a>
			</p>
		</div>
		<!-- Copyright -->
	</div>
</body>
</html>
