<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<nav th:fragment="menu" class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand ml-2" href="/agile-tasks">
  	<img alt="logo-yensei" th:src="@{/img/logo-yensei-blanco.png}" class="navbar-logo px-3">
  </a>
  <button class="navbar-toggler"
   			type="button" data-toggle="collapse"
   			data-target="#navbarNavAltMarkup" 
   			aria-controls="navbarNavAltMarkup"  
   			aria-expanded="false"  
   			aria-label="Toggle navigation"> 
     <span class="navbar-toggler-icon"></span> 
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">            
			<a class="nav-item nav-link" href="#" style="color: rgb(255, 255, 255)">Option 1</a>
			<a class="nav-item nav-link" href="#" style="color: rgb(255, 255, 255)">Option 2</a>
    </div>
  </div>
</nav>
</body>
</html>