<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragments/header :: header"></head>
	<body class="d-flex flex-column min-vh-100">		
		<div class="container-fluid">	
			<div class="container">
				<div class="row mt-3">
			    <div class="col-sm-5 text-center" style="width: auto; margin: auto auto;">		        	
						<h1 class="alert alert-title">Error</h1>
					</div>
	    	</div>
	    	<div id="errorDetail" class="row mt-3">
	    		<div th:each="err : ${errors}" class="alert alert-detail" role="alert">
						<p th:text="${err}"> </p>
					</div>
	    	</div>
	    	<div class="row mt-3">
	    		<pre class="text-center"><a href="javascript:history.back()">Atr&aacute;s</a>&nbsp; | &nbsp;<a href="/">Inicio</a></pre>	
	    	</div>
			</div>		
		</div>		
		<!-- Footer -->
		<footer th:insert="fragments/footer :: footer" class="mt-auto"></footer>
		<!-- Scripts -->
		<span th:insert="fragments/scripts-imports-main :: script-main"></span>
	</body>
</html>