<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragments/header :: header"></head>
	<body class="d-flex flex-column min-vh-100">
		<nav th:replace="fragments/menu :: menu"></nav>	
		<div class="container-fluid">		
		<div class="container">
				<div class="row mt-3">
			        <div class="col-sm-5 text-center" style="width: auto; margin: auto auto;">
			        	
						<h1>Ocurri&oacute; un problema</h1>
						<h6>Detalles:</h6>		 
						<div th:each="err : ${errors}" class="alert alert-danger" role="alert">
							<p th:text="${err}"> </p>
						</div>	
					</div>
	    		</div>
			</div>	
		</div>			
		<!-- Footer -->
		<footer th:insert="fragments/footer :: footer" class="mt-auto"></footer>
		<!-- Scripts -->
		<span th:insert="fragments/scripts-imports-main :: script-main"></span>
	</body>
</html>